.reading{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.slider2{
    width: 100%;

}
.reading__quiz{
    width: 100%;
}
@media (max-width: 768px) {
    .reading{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}